body {
    font-family: Arial,sans-serif;
    font-size: 13px;
    color: #2d353c;
    background: url(http://23.239.12.161:8069/web/static/src/img/form_sheetbg.png) repeat fixed;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    height: 100%; 
}

h1 {
    border-bottom: 1px solid #AFAFAF; 
    font-size:  10px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #2d353c;
}

a:link, a:visited {
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    font-weight : bold;
    text-decoration : underline;
}
